<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openplatform.webmaster.mapper.ApiMappingMapper">

    <select id="findApiMapperAll" parameterType="apiMappingVo" resultType="apiMapping">
        select * from api_mapping
        <where>
            <if test="gatewayApiName != null and gatewayApiName != '' ">
                and gatewayApiName like concat("%",#{gatewayApiName},"%")
            </if>
            <if test="state != null and state != '' ">
                and state=#{state}
            </if>
        </where>
    </select>
</mapper>